<h1>New Destination</h1>

<%= form_for(@destination) do |f| %>

  <%= f.label :name, "Name:" %>
  <%= f.text_field :name %>
  <br>

  <%= f.label :description, "Description:" %>
  <%= f.text_field :description %>

  <%= f.submit %>

<% end %>
